<div class="page-header">
    <div class="pull-right">
        <a class="btn btn-sm btn-danger glyphicon glyphicon-log-out" ng-click="ctrl.logout()"></a>
    </div>
    <h3>Candidates</h3>
</div>

<div class="form-group">
    <h4>
        <code>Show:</code>
        <toggle ng-model="ctrl.viewAllCandidates" ng-change="ctrl.getCandidates()" on="All" off="Mine" size="btn-md" onstyle="btn-success"
            offstyle="btn-danger"></toggle>
    </h4>
</div>

<div class="col-md-6">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th class="text-center">Position applied for</th>
                <th class="text-center">Interviewed?</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="candidate in ctrl.candidates" ng-click="ctrl.editCandidateData(candidate.userId)">
                <td>{{ candidate.user.first_name }} {{ candidate.user.family_name }} </td>
                <td class="text-center">{{ candidate.applyingfor }}</td>
                <td class="text-center">
                    <span class="glyphicon" ng-class="candidate.interviewed ? 'glyphicon-ok':'glyphicon-remove'"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>