<div class="page-header">
    <h3>Menu</h2>
</div>

<form class="col-lg-4 col-lg-offset-4">
    <div class="form-group">
        <a ui-sref="register" class="btn btn-success btn-lg btn-block">Candidate</a>
        <a ui-sref="login2" class="btn btn-danger btn-lg btn-block" style="margin-top: 24px;">Interviewer</a>
    </div>
</form>