<div class="page-header">
    <h2>Protected area</h2>
</div>

<table class="table table-striped table-bordered table-hover">
<thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="account in ctrl.accounts" ng-click="ctrl.editAccount(account.id)">
        <td>{{account.id}}</td>
        <td>{{account.name}}</td>
        <td>{{account.email}}</td>
        <td>{{account.password}}</td>
    </tr>
</tbody>
</table>

<form>
    <div class="form-group">
        <button type="button" class="btn btn-danger" ng-click="ctrl.logout()">Logout</button>
    </div>
</form>