<div class="page-header">
    <h3>Registration</h3>
</div>
<uib-progressbar class="progress-striped active" max="100" value="ctrl.progress"> {{ctrl.progress}}% </uib-progressbar>
</div>

<div class="alert" ng-class="ctrl.status ? 'alert-success' : 'alert-danger'" ng-show="ctrl.showMessage">
    <strong>{{ctrl.message}}</strong>
</div>
<form name="form" class="col-md-6" ng-submit="form.$valid && ctrl.register()" novalidate>

    <!-- Page 0: Email validation -->
    <div class="panel panel-success" ng-show="ctrl.showPage(0)">
        <div class="panel-heading">
            <h4>Email</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <input type="email" floating-label class="form-control" name="email" placeholder="Email" ng-model="ctrl.user.email" required>
                <div ng-show="form.email.$touched">
                    <div class="validation" ng-show="form.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Email is mandatory.
                    </div>
                    <div class="validation" ng-show="form.$error.email">
                        <span class="glyphicon glyphicon-alert"></span> Email is invalid.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-danger pull-right" ng-disabled="form.email.$error.required || form.$error.email" value="Validate"
                    ng-click="ctrl.validateEmail()">
            </div>
        </div>
        <div class="panel-footer text-center">
            <small>
                <a ui-sref="home">Cancel</a> 
            </small>
        </div>
    </div>

    <!-- page 1: Interviewer -->
    <div class="panel panel-success" ng-show="ctrl.showPage(1)">
        <div class="panel-heading">
            <h4>Interviewer</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>Interviewer</label>
                <select class="form-control" ng-model="ctrl.user.interviewer" ng-change="ctrl.setProgress(7.5)" required>
                    <option value="{{interviewer.id}}" ng-repeat="interviewer in ctrl.interviewers">{{interviewer.first_name}} {{interviewer.family_name}}</option>
                </select>
            </div>

            <div class="form-group">
                <input type="text" floating-label class="form-control" name="applyingfor" placeholder="Applying for" ng-model="ctrl.user.applyingfor"
                    minlength=2 ng-change="ctrl.setProgress(8)" required>
                <div ng-show="form.applyingfor.$touched">
                    <div class="validation" ng-show="form.applyingfor.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Field is mandatory.
                    </div>
                    <div class="validation" ng-show="form.applyingfor.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Field should be at least 2 characters long.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="button" class="btn btn-warning pull-left" value="prev" ng-click="ctrl.gotoPage(0, false)">
                <input type="button" class="btn btn-success pull-right" ng-disabled="ctrl.user.interviewer == 0 || form.applyingfor.$invalid"
                    value="next" ng-click="ctrl.gotoPage(2, true)">
            </div>
        </div>
        <div class="panel-footer text-center">
            <small>
             <a ui-sref="home">Cancel</a> 
            </small>
        </div>
    </div>

    <!-- Page 2: Personal information -->
    <div class="panel panel-success" ng-show="ctrl.showPage(2)">
        <div class="panel-heading">
            <h4>Personal Information</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <!-- <label>Family name</label> -->
                <input type="text" floating-label class="form-control" name="familyname" placeholder="Family name" ng-model="ctrl.user.family_name"
                    ng-change="ctrl.setProgress(12.5)">
                <!-- <div ng-show="form.familyname.$touched || form.$submitted">
                            <div class="validation" ng-show="form.firstname.$error.required">
                                <span class="glyphicon glyphicon-alert"></span> Family name is mandatory.
                            </div>
                            <div class="validation" ng-show="form.familyname.$error.minlength">
                                <span class="glyphicon glyphicon-alert"></span> Name should be at least 2 characters long.
                            </div>
                        </div> -->
            </div>
            <div class="form-group">
                <!-- <label>First name</label> -->
                <input type="text" floating-label class="form-control" name="firstname" placeholder="First name" ng-model="ctrl.user.first_name"
                    minlength=2 required ng-change="ctrl.setProgress(15)">
                <div ng-show="form.firstname.$touched || form.$submitted">
                    <div class="validation" ng-show="form.firstname.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> First name is mandatory.
                    </div>
                    <div class="validation" ng-show="form.firstname.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Name should be at least 2 characters long.
                    </div>
                </div>
            </div>

            <div class="form-group">
                <!-- <label>Contact</label> -->
                <input type="number" floating-label class="form-control" name="contact" placeholder="Contact number" ng-model="ctrl.user.contact"
                    minlength="8" maxlength="8" ng-pattern="/^[0-9]*$/" required ng-change="ctrl.setProgress(17.5)">
                <div ng-show="form.contact.$touched || form.$submitted">
                    <div class="validation" ng-show="form.contact.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Contact is mandatory.
                    </div>
                    <div class="validation" ng-show="form.contact.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Contact should be 8 digits.
                    </div>
                    <div class="validation" ng-show="form.contact.$error.maxlength">
                        <span class="glyphicon glyphicon-alert"></span> Contact should be 8 digits.
                    </div>
                    <div class="validation" data-ng-show="form.contact.$error.pattern">
                        <span class="glyphicon glyphicon-alert"></span> Contact number should contain only digits
                    </div>
                </div>
            </div>
            <!-- <div class="form-group">
                <input type="email" floating-label class="form-control" name="email" placeholder="Email" ng-model="ctrl.user.email" required
                    ng-change="ctrl.setProgress(20)">
                <div ng-show="form.email.$touched || form.$submitted">
                    <div class="validation" ng-show="form.email.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Email is mandatory.
                    </div>
                    <div class="validation" ng-show="form.$error.email">
                        <span class="glyphicon glyphicon-alert"></span> Email is invalid.
                    </div>
                </div>
            </div> -->
            <div class="form-group">
                <!-- <label>Visa status</label> -->
                <input type="text" floating-label class="form-control" name="visastatus" placeholder="Visa status" ng-model="ctrl.user.visastatus"
                    minlength=2 required ng-change="ctrl.setProgress(22.5)">
                <div ng-show="form.visastatus.$touched || form.$submitted">
                    <div class="validation" ng-show="form.visastatus.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Visa status is mandatory.
                    </div>
                    <div class="validation" ng-show="form.visastatus.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Should be at least 2 characters long.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <!-- <label>Years of experience</label> -->
                <input type="number" floating-label class="form-control" name="experience" placeholder="Years of experience" ng-model="ctrl.user.experience"
                    required ng-change="ctrl.setProgress(25)" min=0>
                <div ng-show="form.experience.$touched || form.$submitted">
                    <div class="validation" ng-show="form.experience.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Years of experience is mandatory.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <!-- <label>Profile/current position</label> -->
                <input type="text" floating-label class="form-control" name="profile" placeholder="Profile/current position" ng-model="ctrl.user.profile"
                    minlength=2 required ng-change="ctrl.setProgress(27.5)">
                <div ng-show="form.profile.$touched || form.$submitted">
                    <div class="validation" ng-show="form.profile.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Profile/current position is mandatory.
                    </div>
                    <div class="validation" ng-show="form.profile.$error.minlength">
                        <span class="glyphicon glyphicon-alert"></span> Should be at least 2 characters long.
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-warning pull-left" value="prev" ng-click="ctrl.gotoPage(1, false)">
                <input type="button" class="btn btn-success pull-right" ng-disabled="ctrl.progress < 27.5" value="next" ng-click="ctrl.gotoPage(3, true)">
            </div>
        </div>

        <div class="panel-footer text-center">
            <small>
                <a ui-sref="home">Cancel</a> 
            </small>
        </div>
    </div>


    <!-- Page 3: Competencies/Skills -->
    <div class="panel panel-success" ng-show="ctrl.showPage(3)">
        <div class="panel-heading">
            <h4>Competencies / Skills</h4>
        </div>
        <div class="panel-body">

            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Degrees/Certifications</a>
                        </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <!-- <div class="form-group"> -->
                            <textarea class="form-control" rows="5" name="degrees" placeholder="example: BSc in Computing, National University of Singapore"
                                ng-model="ctrl.user.degrees" required ng-change="ctrl.setProgress(35)"></textarea>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                          Technical</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                            <textarea class="form-control" rows="5" name="technical" placeholder="example: MEAN stack, Javascript" ng-model="ctrl.user.technical"
                                ng-change="ctrl.setProgress(40)"></textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                          Functional</a>
                        </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            <textarea class="form-control" rows="5" name="functional" placeholder="example: mobile apps development" ng-model="ctrl.user.functional"
                                ng-change="ctrl.setProgress(45)"></textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                              Methodology</a>
                        </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            <textarea class="form-control" rows="5" name="methodology" placeholder="example: Agile, Scrum" ng-model="ctrl.user.methodology"
                                ng-change="ctrl.setProgress(50)"></textarea>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                              Management skills</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">
                            <textarea class="form-control" rows="5" name="management" placeholder="example: Project Management" ng-model="ctrl.user.management"
                                ng-change="ctrl.setProgress(55)"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="button" class="btn btn-warning pull-left" value="prev" ng-click="ctrl.gotoPage(2, false)">
                <input type="button" class="btn btn-success pull-right" ng-disabled="ctrl.progress < 40" value="next" ng-click="ctrl.gotoPage(4, true)">
            </div>
        </div>
        <div class="panel-footer text-center">
            <small>
                <a ui-sref="home">Cancel</a> 
            </small>
        </div>
    </div>

    <div class="panel panel-success" ng-show="ctrl.showPage(4)">
        <div class="panel-heading">
            <h4>Submit</h4>
        </div>
        <div class="panel-body">

            <div class="form-group">
                <label>Optional: upload resume (PDF only and up to 5MB)</label>
                <!-- Select file to upload. Single file only. Accepts only pdf-->
                <input id="file" type="file" ng-model="ctrl.file" ngf-select ngf-pattern="'.pdf'" ngf-accept="'.pdf'">
            </div>

            <div class="form-group">
                <input type="button" class="btn btn-warning pull-left" value="prev" ng-click="ctrl.setProgress2(55)">
            </div>

        </div>
        <div class="panel-footer text-center">
            <div class="form-group">
                <input type="button" class="btn btn-primary form-control" value="Submit" ng-click="ctrl.register()">
            </div>
        </div>
    </div>

</form>