<div class="page-header">
    <h2>Reset password</h2>
</div>


<div class="col-md-4 col-md-offset-4">
    <div class="alert" ng-class="ctrl.status ? 'alert-success' : 'alert-danger'" ng-show="ctrl.showMessage">
        <strong>{{ctrl.message}}</strong>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4>Reset password</h4>
        </div>
        <div class="panel-body">
            <form name="form" ng-submit="form.$valid && ctrl.resetPassword()" novalidate>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input type="email" class="form-control" name="email" placeholder="Email" ng-model="ctrl.email" required>
                        <span class="glyphicon glyphicon-ok text-success form-control-feedback" ng-hide="form.email.$error.required || form.$error.email"></span>
                    </div>
                    <div ng-show="form.email.$touched || form.$submitted">
                        <div class="validation" ng-show="form.email.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Email is mandatory.
                        </div>
                        <div class="validation" ng-show="form.$error.email">
                            <span class="glyphicon glyphicon-alert"></span> Email is invalid.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-danger form-control" ng-disabled="form.$invalid || ctrl.status" value="Reset password">
                </div>
            </form>
        </div>
        <div class="panel-footer text-center">
            <small>
                <a ui-sref="login2">Login</a> or <a ui-sref="register">create account</a>             
            </small>
        </div>
    </div>
</div>